@model MvcAuthenication.SystemUserChangePassword
@{
    ViewBag.Title = "mForm";
    Layout = "~/Views/Shared/_Base.cshtml";
}
<div class="crumbs">
    <ul id="breadcrumbs" class="breadcrumb">
        <li><a href="/myaccount/dashboard">Dashboard</a></li>
        <li class="active"><a href="/myaccount/changepassword" title="">Change pasword</a></li>
    </ul>
</div>
<!-- /breadcrumbs line -->
<!-- Page header -->
<div class="page-header">
    <div class="page-title">
        <h5>Tài khoản</h5>
        <span>Thay đổi mật khẩu</span>
    </div>
</div>
<!-- /page header -->
@using (Html.BeginForm("changepassword", "myaccount", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div id="lblMessage"></div>
    <div class="widget change-pw-widget">
        <div class="navbar"><div class="navbar-inner"><h6>Đổi mật khẩu</h6></div></div>
        <div class="well row-fluid">
            @Html.HiddenFor(model => model.ID)
            @Html.EditorFor(model => model.PasswordOld)
            @Html.EditorFor(model => model.Password)
            @Html.EditorFor(model => model.ConfirmPassword)
            <div class="form-actions align-right">
                <button type="submit" class="btn btn-info">Cập nhật</button>
                <button type="reset" class="btn">Hoàn tác</button>
                <a class="btn btn-success" href="/myaccount/dashboard">Quay lại</a>
            </div>
        </div>
    </div>
}