@{ Layout = "~/Views/Shared/EditorTemplates/_Layout.cshtml"; }

<div class="control-group">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    <div class="controls">
        @Html.DropDownListFor(m => m, new SelectList(SSO.Backend.Models.TypeData.lstCulture, "ID", "Name"), new { @class = "select" })
       
         @Html.ValidationMessageFor(m => m)
    </div>
</div>
