@{ Layout = "~/Views/Shared/EditorTemplates/_Layout.cshtml"; }
<div class="control-group">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    <div class="controls">
        @Html.TextArea("", ViewData.TemplateInfo.FormattedModelValue.ToString(), 0, 0, new { @class = "span12", @rows = "5", @cols = "5" })
        @Html.ValidationMessageFor(m => m)
    </div>
</div>
